# Ignore Python virtual environments
venv/
env/
environment/
.venv/
pyvenv.cfg

# Ignore system and cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.DS_Store
Thumbs.db

# Ignore models and data
models/
*.h5
*.keras
*.csv

# Ignore IDE/project files
.vscode/
.idea/
*.log
